/*
    Make every pixel alignment value a multiple of 5px to make it consistent
*/
:root {
    --page-color: #eceff1;
    --top-bar-color: #eceff1;
    --top-bar-dropdown-color: #eceff1;
    --text-color: #000000de;
    --box-shadow: 0px 5px 5px #00000069;
}

body {
    background: var(--page-color);
    color: var(--text-color);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    cursor: pointer;
    user-select: none;
}

#top-bar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0px;
    margin: 0;
    background: var(--top-bar-color);
    box-shadow: var(--box-shadow);
}

#top-bar-logo p {
    margin: auto 10px auto 5px;
}

#top-bar-logo img {
    height: 50px;
    margin: 5px;
}

#top-bar-account {
    position: inline-block;
}

#top-bar-account p {
    margin: auto 0px auto 10px;
    position: relative;
}

.player-photo {
    height: 50px;
    margin: 5px;
    border-radius: 50%;
}

#top-bar-account:hover #top-bar-account-dropdown {
    display: block;
}

#top-bar-account-dropdown {
    display: none;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 10px;
    background: var(--top-bar-dropdown-color);
    box-shadow: var(--box-shadow);
}